body { 
    background-color: #FEFBF4;
}
.navbar {
    background-color: #FEFBF4 !important;

        font-family: "Calibri", Calibri, serif;
        letter-spacing: 3px;
        font-size: 16px;
      }
a class {letter-spacing: 2px;}

h1 {
    letter-spacing: -70px;
    
}